body{
    direction:rtl;
    text-align: right;
}

nav {
    background-color: rgb(144,144,144);
    height:80px;
    position: relative;
}

.logo {
    position:absolute;
    right:250px;
}

nav ul {
   text-align: center;    
   list-style-type: none; 
}

nav ul li {
    display: inline;
}

nav ul li a {
text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:0;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    width:900px;
    margin:auto;
}
.main-top{
    float:right;
    display: inline-block;
    position:relative;
}
.main-bottom{
    clear:right;
}